@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* All Fonts */
$font-popins: 'Poppins', sans-serif;


/* All Color */
$color-white: #fff;
$color-ash: #868585;
$color-bg: #ddd;
$color-blue: #00aeef;
$color-black: #333333;
$color-deep-blue: #2c3e50;
$color-body: #616161;
$color-footer-bg: #25272e;

$color-countdown-bg: #2f475f;
$color-search-border: #eee;
$color-footer-ul: #8f9095;

$color-facebook: #3b5998;
$color-pinterest: #c92228;
$color-instagram: #fb3958;
$color-twitter: #3cbee3;
$color-google: #e13928;

$comming-soon-color: #2a3b53;
$color-full-black: #000000;

$color-section-bg: #f9f9f9;
$color-meta: #9f9f9f;