<!-- Preloader -->
<div id="fakeloader"></div>

<div class="top-menu-4x">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="top-menu-logo">
                    <img src="../../../assets/images/logo-2.png" alt="Image">
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-menu-time">
                    <div class="media">
                        <img src="assets/images/clock.png" alt="Image">
                        <div class="media-body">
                            <h3>Horario de Apertura</h3>
                            <h4>Lun - Sab : 08:00am - 20:00pm</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-menu-time phone">
                    <div class="media">
                        <img src="assets/images/envelope.png" alt="Image">
                        <div class="media-body">
                            <h3>Envíanos un Mensaje</h3>
                            <h4>SaludADomicilio@SAD.com</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="top-menu-time">
                    <div class="media">
                        <img src="assets/images/phone.png" alt="Image">
                        <div class="media-body">
                            <h3>Llámanos</h3>
                            <h4>+569 55998844</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-menu-1x main-menu-2x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                       </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav main-menu-nav">

                                <li class="nav-item active">
                                    <a class="nav-link" href="">
                                     Inicio <span class="sr-only">(current)</span>
                                 </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="">Sobre Nosotros</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink5" data-toggle="" aria-haspopup="true" aria-expanded="false">
                                     Servicios
                                 </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                                        <li><a class="dropdown-item" href="">Servicio Uno</a></li>
                                        <li><a class="dropdown-item" href="">Servicio Dos</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Páginas
                                 </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">

                                        <li><a class="dropdown-item" href="">Citas</a></li>
                                        <li><a class="dropdown-item dropdown-toggle" href="">Carrera</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Carrera</a></li>
                                                <li><a class="dropdown-item" href="">Carrera Solitario</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item dropdown-toggle" href="">Eventos </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href=""> Eventos</a></li>
                                                <li><a class="dropdown-item" href="">Detalles de Eventos </a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="">Tarifas</a></li>
                                        <li><a class="dropdown-item" href="">Página 404</a></li>
                                        <li><a class="dropdown-item" href="">Pronto</a></li>
                                        <li><a class="dropdown-item" href="">Componentes</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="" id="navbarDropdownMenuLink6" data-toggle="" aria-haspopup="true" aria-expanded="false">
                                     Doctores
                                 </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                                        <li><a class="dropdown-item" href="">Nuestros Doctores</a></li>
                                        <li><a class="dropdown-item" href="">Doctor Individual</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Blog
                                 </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                        <li><a class="dropdown-item" href="">Vista de Listas</a></li>
                                        <li><a class="dropdown-item" href="">Blog Solitario</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="">Contáctanos</a>
                                </li>

                            </ul>

                            <div class="appointment-button">
                                <a href="" class="btn-small">Salud a Domicilio</a>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>