<div class="service-section-7x white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-middle">
                    <h2>Our Special Services</h2>
                    <p> Doctors save lives, but their importance goes far beyond that. Doctors also make a difference by helping <br> patients minimize pain, recover from a disease faster or learn to live with a disabling injury. </p>
                </div>
                <div class="margin-top-middle"></div>
            </div>
            <div class="col-md-6">
                <div class="single-service green">
                    <i class="fas fa-pills"></i>
                    <h3>Free Medicine</h3>
                    <p>Often, you can put your finger on the reason you' are not feelings your best, but what about those times when you can't pinpoint the cause of your tiredness.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-service violet">
                    <i class="fas fa-ambulance"></i>
                    <h3>Free Ambulance</h3>
                    <p>Often, you can put your finger on the reason you' are not feelings your best, but what about those times when you can't pinpoint the cause of your tiredness.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-service pink">
                    <i class="fas fa-phone"></i>
                    <h3>Emergency Help</h3>
                    <p>Often, you can put your finger on the reason you' are not feelings your best, but what about those times when you can't pinpoint the cause of your tiredness.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-service orange">
                    <i class="fas fa-user-md"></i>
                    <h3>Qualified Doctors</h3>
                    <p>Often, you can put your finger on the reason you' are not feelings your best, but what about those times when you can't pinpoint the cause of your tiredness.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-section-5x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-middle">
                    <h2>General services</h2>
                    <p> Doctors save lives, but their importance goes far beyond that. Doctors also make a difference by helping <br> patients minimize pain, recover from a disease faster or learn to live with a disabling injury. </p>
                </div>
                <div class="margin-top-middle"></div>
            </div>
            <div class="col-md-4">
                <div class="single-service green">
                    <i class="fas fa-pills"></i>
                    <h3>Free Medicine</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service violet">
                    <i class="fas fa-ambulance"></i>
                    <h3>Free Ambulance</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service pink">
                    <i class="fas fa-phone"></i>
                    <h3>Emergency Help</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service blue">
                    <i class="fas fa-headphones"></i>
                    <h3>24/7 support</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service orange">
                    <i class="fas fa-user-md"></i>
                    <h3>Qualified Doctors</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service pearl">
                    <i class="fas fa-hospital"></i>
                    <h3>Primary Care</h3>
                    <p>Doctors save lives, but their importa nce goes far beyond that. Doctors also difference by helping.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-1x">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="cta-left">
                    <h3>Meditrust For Your Careing!</h3>
                    <p>Doctors save lives, but their importance goes far beyond that. <br>Doctors also make a difference by helping.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="cta-right">
                    <a href="#" class="medical-btn-larg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>