<footer class="footer-section-1x">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="footer-top-left">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="single-link">
                                            <h3>Enlaces Rápidos</h3>
                                            <ul>
                                                <li routerLinkActive="active"><a routerLink="inicio">  Inicio </a></li>
                                                <li><a href="#">  Sobre Nosotros </a></li>
                                                <li><a href="#">  Agenda </a></li>
                                                <li><a href="#">  Doctores </a></li>
                                                <li><a href="#">  Contacto </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-link">
                                            <h3>Ayuda</h3>
                                            <ul>
                                                <li><a href="#">  Centro de Ayuda </a></li>
                                                <li><a href="#">  Ayuda al Paciente </a></li>
                                                <li><a href="#">  Chat en Vivo </a></li>
                                                <li><a href="#">  Mapa del Sitio </a></li>
                                                <li><a href="#">  Contáctanos </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-link">
                                            <h3>Nuestra Comunidad</h3>
                                            <ul>
                                                <li><a href="#">  Forus </a></li>
                                                <li><a href="#">  Centro Comunitario </a></li>
                                                <li><a href="#">  Citas </a></li>
                                                <li><a href="#">  Sobre Nosotros </a></li>
                                                <li><a href="#">  Centro de Ayuda </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="footer-social-link">
                                            <h3>Síguenos</h3>
                                            <ul>
                                                <li class="facebook">
                                                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="#"> <i class="fab fa-pinterest"></i> </a>
                                                </li>
                                                <li class="instagram">
                                                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                                                </li>
                                                <li class="twitter">
                                                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="footer-subscriber">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Ingresa tu Email" aria-label="Recipient's username">
                                                <div class="input-group-append">
                                                    <button class="btn btn-subscriber" type="button"> <i class="fas fa-paper-plane"></i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-top-right">
                                <img src="assets/images/logo-2.png" alt="slide 1">
                                <ul>
                                    <li>
                                        <div class="media">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <div class="media-body">
                                                <p>Las Trancas #1.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <i class="fas fa-phone-volume"></i>
                                            <div class="media-body">
                                                <p>+569 112223556</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <i class="fas fa-envelope"></i>
                                            <div class="media-body">
                                                <p>saludodadmicilio@info.com</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-5">
                            <p>&copy; <a href="#">Salud A domicilio.</a> Todos los derechos reservados. </p>
                        </div>
                        <div class="col-md-7">
                            <ul>
                                <li><a href="#">  Acerca de SAD </a></li>
                                <li><a href="#">  Políticas de Privacidad </a></li>
                                <li><a href="#">  Ayuda </a></li>
                                <li><a href="#">  Términos </a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</footer>